* {
  box-sizing: border-box;
}
.game-block {
  margin: 0;
  padding: 0;
  width: 21px;
  height: 21px;
  border: 1px solid #ddd;
}
.piece-view {
  margin-bottom: 12px;
}
.piece-view:first-child {
  margin-top: 4px;
}
.piece-view .game-block {
  width: 18px;
  height: 18px;
}
.piece-i {
  background-color: #E3651D;
}
.piece-j {
  background-color: #BED754;
}
.piece-l {
  background-color: #E72929;
}
.piece-o {
  background-color: #66347F;
}
.piece-s {
  background-color: #347474;
}
.piece-t {
  background-color: #b77c72;
}
.piece-z {
  background-color: #e3be58;
}
.piece-preview {
  background-color: #eee;
}